html,body
{
    height: 100%;
    background-color: #0A111F;
    margin:0;
    padding:0;
}
.main_connexion
{
    padding-top: 4%;
    min-height:100%;
    position:relative;
    padding-bottom:100px;  
}

a
{
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    color: white;
}
h3
{
    color: white;
    font-family: 'Michroma', sans-serif;
}

h1,h2
{
    color: white;
    font-family: 'Squada One', cursive;
    text-align: center;
    text-shadow: 4px 4px 5px #716969;

}

p
{
    color: white;
    font-family: 'Josefin Slab', serif;
}

.box_header
{
    background-color: #FCA311;
    height: 60px;
    display: flex;
    justify-content: center;
    
}

.box_lien
{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    
}

.box_form
{
    display: flex;
    justify-content: center;
    
   
}
.box_connexion
{
    padding-top: 4%;
}

form
{
    display: flex;
    flex-direction: column;
}

.box_erreur
{
    text-align: center;
}

.bouton
{
    display: flex;
    justify-content: center;
    padding-top: 4%;
  
}

.btn_valider
{
    background-color: white;
    color: black;
    border: 3px solid rgb(21, 43, 168);
    padding: 10px 24px;
    border-radius: 10px;
    font-size: 15px;
  
}

.box_btn
{
    display: flex;
    justify-content: center;
}

input[type=text],input[type=password]
{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    padding: 10px;
    margin: 10px;
}
footer
{ 
    background-color: #f1af43;
    height: 65px;
    margin: -1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}



